<div class="header">
        <div class="logo-area">
            <img src="img/logo_1.webp"  width=150 height=100 alt="">
            <div class="title">Pocket<br> Dictionary</div>
        </div>
</div>
<div class="search form">
    <!-- Search form here -->
    <div class="form">
        <form action="<?php  htmlspecialchars( $_SERVER['PHP_SELF']);?>" method="post">
            <div class="search-box">
                <input type="text" name="wordToSearch" placeholder="Search for any word..." />
           </div>
       </form>

    </div>
    
</div>